<div class="container">
  <!-- <div class="title">Программа дня</div> -->
  <div class="item-container-wrap">
    <div class="item-container">
      <div class="items" *ngFor="let item of items">
        <div class="time">{{ item.time }}</div>
        <div class="item-svg-container">
          <img src="/assets/img/{{ item.svg }}.png" />
        </div>
        <div class="description-container">
          <div class="item-title">{{ item.title }}</div>
          <div class="item-text">{{ item.text }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
