<div class="container">
  <img class="divider" style="transform: rotate(180deg)" src="/assets/img/divider-top.png" />
  <div class="title">До свадьбы осталось</div>
  <div class="digit-container">
    <div class="cell">
      <div class="digit">
        {{ day }}
      </div>
      <div class="text">дней</div>
    </div>
    <div class="cell">
      <div class="digit">
        {{ hour }}
      </div>
      <div class="text">часов</div>
    </div>
    <div class="cell">
      <div class="digit">
        {{ minute }}
      </div>
      <div class="text">минут</div>
    </div>
    <div class="cell">
      <div class="digit">
        {{ second }}
      </div>
      <div class="text">секунд</div>
    </div>
  </div>
  <img class="divider" src="/assets/img/divider-bottom.png" />
</div>
