<app-header class="header" [invite]="invite$ | async"></app-header>
<div #container class="container">
  <div class="inner">
    <app-rings></app-rings>
    <app-date></app-date>
    <app-timer></app-timer>
    <app-schedule></app-schedule>
    <app-address></app-address>
    <app-reply [invite]="invite$ | async"></app-reply>
    <app-footer [invite]="invite$ | async"></app-footer>
  </div>

  <ng-container *ngIf="flows">
    <div #flowElements id="flow_{{flow.id}}" *ngFor="let flow of flows" class="f2" [ngStyle]="flow.style" >
      <img class="f2-img" src="/assets/img/f2-pink.png" />
      <!-- [ngStyle]="{height: flow.size+'px'}" -->
    </div>
  </ng-container>

</div>

