.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  // background-position: center center
  background-repeat: repeat
  // background-size:
  // -webkit-background-size: cover
  // -moz-background-size: cover
  // -o-background-size: cover
  background-image: url("/assets/img/back-paper.jpg")
