$area-margin: 60px
$green-color: #78a975

@font-face
  font-family: 'Zing Rust'
  src: local('Zing Rust'), url('assets/fonts/zing-rust.ttf') format('truetype')

@font-face
  font-family: 'GoodVibes'
  src: local('GoodVibes'), url('assets/fonts/GoodVibes.woff') format('woff')


