<div class="container cinzel">
  <!-- {{invite | json}} -->
  <!-- {{name.value| json}}
  {{response.value| json}}
  {{drinksElems | json}} -->
  <img class="divider" src="/assets/img/divider-top.png" />
  <div class="title goood-vibes">Ответ на приглашение</div>
  <div class="text">
    Пожалуйста, ответьте на приглашение <b>до 1 мая</b>. Это очень поможет нам в организации свадьбы. Если вы идете парой, то заполните форму на каждого гостя.
    <br />
    <br />
    Если что-то покажется непонятным, то вы всегда можете нам позвонить.
    <br />
    <br />
    Если у вас нет нашего номера телефона, то, скорее всего, это приглашение было отправлено по ошибке
    <br />
    <img class="smile" src="/assets/img/smile.png" />
  </div>
  <div class="text-input">
    <label class="label" for="name_input">Имя и Фамилия</label>
    <input id="name_input" [formControl]="name" type="text" placeholder="Введите Имя и Фамилию" />
  </div>
  <mat-radio-group class="radio-group" [formControl]="response">
    <label class="label" for="radio-group">Подтвердите присутствие</label>
    <div id="radio-group" class="radio" *ngFor="let elem of responseElems; let i = index">
      <mat-radio-button value="{{elem}}">{{elem}}</mat-radio-button>
      <!-- <input type="radio" id="radio_{{i}}" [formControl]="response" value="{{elem}}" /> <label class="elem-label" for="radio_{{i}}">{{elem}}</label> -->
    </div>
  </mat-radio-group>
  <div class="drinks-group">
    <label class="label" for="radio-group">Предпочтение по напиткам</label>
    <mat-checkbox *ngFor="let elem of drinksElems" [(ngModel)]="elem.value">
      {{elem.label}}
    </mat-checkbox>
    <!-- <label class="label" for="drinks-group">Ваши предпочтения по напиткам?</label>
    <div id="drinks-group" class="drink" *ngFor="let elem of drinksElems; let i = index">
      <input type="checkbox" id="drink_{{i}}" [(ngModel)]="elem.value" /> <label class="elem-label" for="drink_{{i}}">{{elem.label}}</label>
    </div> -->
  </div>
  <div class="btn" [ngClass]="{'btn-disabled': !response.valid || !name.valid}" (click)="sendResponse()">
    <span class="btn-lbl">Отправить</span>
  </div>
</div>
